*.py[cod]
*.html
*.png
_version.py
.aider.*

*.egg-info
.eggs/*
__pycache__/*
dist/*

.coverage
.coverage.*
htmlcov/*
outputs/*

doc/build/*
build/*

.idea/*
.vscode/

**/.ipynb_checkpoints
*~*

.venv/
